PG_DATABASE_NAME=daily_routine
PG_USER=postgres
PG_PASSWORD=postgres
PG_PORT=5432
MIGRATION_DIR=./migrations


PG_DSN="host=localhost port=5432 dbname=daily_routine user=postgres password=postgres sslmode=disable"
MIGRATION_DSN="host=pg port=5432 dbname=daily_routine user=postgres password=postgres sslmode=disable"
# Test Mode
ENABLE_TEST_MODE=false
TEST_USER_ID=123456789

HTTP_HOST=localhost
HTTP_PORT=8080

TELEGRAM_BOT_TOKEN=8248908460:AAFC0OhLPeu2r09gh_A7fecwMWErMCD5WBw

JWT_SECRET=efefoerkjofjoeirnggj859hgi5hbg